<VirtualHost *:80>

	ServerAdmin webmaster@localhost
	DocumentRoot {{ document_root }}

	<Directory {{ document_root }}>
	  Require all granted
	</Directory>


	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
